h1
    {
	font-family: palatino;
	font-size: 26px;
	color: #ffffff;
	background-color: #4E03C7;
    }
h2
    {
	margin: 15px 0px 5px 0px;
	font-family: palatino;
	font-size: 20px;
	color: #4E03C7;
    }
h3
    {
	margin: 10px 0px 5px 0px;
    }
h4
    {
	margin: 10px 0px 0px 0px;
    }
a:link 
    {
	color: #2E006C
    }
a:visited 
    { 
	color: #DE0055
    }

div.indented
   {
       padding-left: 50pt;
       padding-right: 50pt;
   }
div.double_indent
   {
       padding-left: 100pt;
       padding-right: 50pt;
   }
div.triple_indent
   {
       padding-left: 150pt;
       padding-right: 50pt;
   }
td.mainpanel
   {
       font-size: 12pt;
       padding-left: 20pt;
       padding-right: 10pt;
       text-align: left;
       font-family: palatino, times, times new roman ;
   }
td.leftpanel
   {
       width: 100px;
       color: red ;
       padding-left: 5pt;
       font-size: 12pt;
       text-align: left;
       font-family: palatino, times, times new roman ;
   }
div.example
   {
       color: #940000;
   }
img
    {
	border-style: none;
    }
div.rsstitle
    {
	padding: 5px 0px;
	font-family: palatino;
	font-size: 20px;
	font-weight: bold;
	color: #4E03C7;
    }
div.rsstitle2
    {
	font-family: palatino;
	font-weight: bold;
    }
table.rsstable
    {
	border: 1px solid #B0A1DB; 
    }
hr.leftpanel
    {
	border: 0px none;
	color: #2E006C;
	height: 1px;
	background: #2E006C;
	text-align: center;
    }
